
@font-face {
    font-family: "Lemon-Milk";
    src: url("/Fonts/LEMONMILK-Bold.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  
.mainpage-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color:#000000 ;
  }
  
  #page-title{
    margin-left: auto;
    margin-right: 50px;
    font-family: Lemon-Milk;
    font-size: 32px;
    color: white;
  }

  @media (max-width:768px){
    #page-title{
      font-size: 26px;
    }
  }


  
  @media (max-width:314px){
    #page-title{
      font-size: 16px;
    }
  }