@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lemon-Milk";
  src: url("../../public/Fonts/LEMONMILK-Bold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

.cicada-container {
  background-color: #1c1c1c;
  color: #f0f0f0;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-img{
  height: 100%;
  width: 100%;
  background: 
  url("../assets/cicda.png"),
  linear-gradient(to  bottom, black, transparent),
  linear-gradient(to  top, black 0.5%,  transparent),
  url("../assets/number1.jpeg");
  background-repeat: no-repeat;
  background-size: 70% 80%, 100% 100%, 100%,100%,100% 100%;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Background-img{
  margin-top: -30%;
  height: 150vh;
  width: 100%;
  display: flex;
}

.Ball-up{
  position: fixed;
  height: 60px;
  width: 60px;
  right: 30px;
  bottom: 30px;
  background-color: orange;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 9px 0px orange;
}

.uparrow{
  background-image: url("../assets/uparrow.png");

  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  align-items: center;
}

.center-img{
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo > img {
  width : 100px;
  height: 100px;
  margin-left: 50px;
  padding: 8px;
}


.about-box{
  background-color: black;
  height: 300px;
  width: 100%;

}

.start-journey{
  margin-bottom: 50px;
}
#start-journey-btn {
  width: 200px;
  height: 50px;
  background-color: #000000;
  color : white;
  padding: 12px;
  font-family: Lemon-Milk;
  font-size: 18px;
  border: 0;
  border-radius: 4px;
  transition: transform 0.25s ease-in-out;
  box-shadow: 0px 0px 10px 3px #00ff00 ;
}

#start-journey-btn:hover{
  transform: scale(1.1);
  border: 0.5px #00ff00 solid;

}


.center-img-mobile{
  display: none;
}

@media (max-width : 1400px){
  .center-img{
    height: 100%;
    width: 100%;
    background: 
    url("../assets/cicda.png"),
    linear-gradient(to  bottom, black, transparent),
    linear-gradient(to  top, black 0.5%,  transparent),
    url("../assets/number1.jpeg");
    background-repeat: no-repeat;
    background-size: 120% 80%, 100% 100%, 100%,100%,100% 100%;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width : 768px) {


  .center-img{
    display: none;
  }

  .center-img-mobile{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background: 
    url("../assets/cicda.png"),
    linear-gradient(to  bottom, black 10%, transparent),
    linear-gradient(to  top, black 10%,  transparent),
    url("../assets/number1.jpeg");
    background-repeat: no-repeat;
    background-size: 140% 50%, 100% 100%, 100%,100%,100% 100%;
    background-position: center;
  }

  .start-journey{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


}

@media (max-width : 400px) {
  .center-img{
    display: none;
  }

  .center-img-mobile{
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: end;
    background: 
    url("../assets/cicda.png"),
    linear-gradient(to  bottom, black 10%, transparent),
    linear-gradient(to  top, black 10%,  transparent),
    url("../assets/number1.jpeg");
    background-repeat: no-repeat;
    background-size: 140% 50%, 100% 100%, 100%,100%,100% 100%;
    background-position: center;
  }

  .start-journey{
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

}

