@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.cicada-container {
  background-color: #1c1c1c;
  color: #f0f0f0;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Background-img{
  width: 800px;
  height: 500px;
  background-image: url("../assets/cicda.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.Ball-up{
  position: fixed;
  height: 60px;
  width: 60px;
  right: 30px;
  bottom: 30px;
  background-color: orange;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 9px 0px orange;
}

.uparrow{
  background-image: url("../assets/uparrow.png");
  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  align-items: center;
}
.Background-img-center{
  display: flex;
  justify-content: center;
  align-items: center;
}