@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lemon-Milk";
  src: url("../../public/Fonts/LEMONMILK-Bold.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

.cicada-container {
  background-color: #1c1c1c;
  color: #f0f0f0;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Background-img{
  height: 90vh;
  width: 100%;
  background: 
  linear-gradient(to  bottom, black, transparent),
  url("../assets/home.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.Ball-up{
  position: fixed;
  height: 60px;
  width: 60px;
  right: 30px;
  bottom: 30px;
  background-color: orange;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 9px 0px orange;
}

.uparrow{
  background-image: url("../assets/uparrow.png");

  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  align-items: center;
}

.center-img{
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo > img {
  width : 100px;
  height: 100px;
  margin-left: 50px;
  padding: 8px;
}


.about-box{
  background-color: black;
  height: 300px;
  width: 100%;

}

.start-journey{
  margin-bottom: 50px;
}
#start-journey-btn {
  background-color: #000000;
  color : white;
  padding: 12px;
  font-family: Lemon-Milk;
  border: 0;
  border-radius: 4px;
  transition: transform 0.25s ease-in-out;
}

#start-journey-btn:hover{
  transform: scale(1.1);
  border: 0.5px #00ff00 solid;

}

@media (max-width : 768px) {
  .Background-img{
    margin-top: 50%;
  }
  .center-img{
    height: 150px;
  }
}

